/* ==== global styles ==== */
* {
  margin: 0;
  padding: 0;
}

/* ==== variables ==== */

:root {
  /* ==== Base colors ==== */
  --flexoki-black: #100F0F;
  --flexoki-paper: #FFFCF0;

  /* Light theme */
  --flexoki-light-600: #6F6E69;
  --flexoki-light-300: #B7B5AC;
  --flexoki-light-200: #CECDC3;
  --flexoki-light-150: #DAD8CE;
  --flexoki-light-100: #E6E4D9;
  --flexoki-light-50: #F2F0E5;

  /* Dark theme : doubted part */


  /* Accent colors : color-400 */
  --flexoki-red: #D14D41;
  --flexoki-orange: #DA702C;
  --flexoki-yellow: #D0A215;
  --flexoki-green: #879A39;
  --flexoki-cyan: #3AA99F;
  --flexoki-blue: #4385BE;
  --flexoki-purple: #8B7EC8;
  --flexoki-magenta: #CE5D97;

  /* Muted accent colors : color-600 */
  --flexoki-red-muted: #AF3029;
  --flexoki-orange-muted: #BC5215;
  --flexoki-yellow-muted: #AD8301;
  --flexoki-green-muted: #66800B;
  --flexoki-cyan-muted: #24837B;
  --flexoki-blue-muted: #205EA6;
  --flexoki-purple-muted: #5E409D;
  --flexoki-magenta-muted: #A02F6F;

  /* ==== Base sizes ==== */

  --font-size-xs: 0.833rem;
  --font-size-sm: 1.000rem;
  --font-size-md: 1.200rem;
  --font-size-lg: 1.440rem;

  /* Fluid typography variables */
  --fluid-xs: clamp(0.833rem, 0.778rem + 0.278vw, 1.000rem);
  --fluid-sm: clamp(1.000rem, 0.933rem + 0.333vw, 1.200rem);
  --fluid-md: clamp(1.200rem, 1.120rem + 0.400vw, 1.440rem);
  --fluid-lg: clamp(1.440rem, 1.344rem + 0.480vw, 1.728rem);

   /* ==== Font weights ==== */

   --font-weight-thin: 100;
   --font-weight-extra-light: 200;
   --font-weight-light: 300;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semi-bold: 600;
   --font-weight-bold: 700;
   --font-weight-extra-bold: 800;
   --font-weight-black: 900;
}
