/* main container style */

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--flexoki-paper);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
}

/* centered container style */

.centered-container {
  max-width: 720px;
  height: 100%;
  background-color: transparent;
}

.padded-container {
  padding: var(--space-5) 0px;
}

/*==== common style ====*/

h1 {
  font-size: var(--fluid-md);
  font-weight: var(--font-weight-semi-bold);
}

h2 {
  font-size: var(--fluid-md);
  font-weight: var(--font-weight-light);
}

h3 {
  font-size: var(--fluid-sm);
  font-weight: var(--font-weight-semi-bold);
}

h4 {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-semi-bold);
}

h6 {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-semi-light);
}

p {
  font-size: var(--fluid-sm);
  font-weight: var(--font-weight-light);
  color: var(--flexoki-light-600);
  line-height: var(--line-height-normal);
}

b{
    font-weight: var(--font-weight-medium);
    color: var(--flexoki-light-850);
}

li{
    display: flex;
    align-items: center;
    gap: var(--space-1);
    border-bottom: 1px solid #ccc;
    padding-bottom: var(--space-1);
    color: var(--flexoki-black);
    cursor: pointer;
}

.sub-txt p {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-light);
  color: var(--flexoki-light-600);
  line-height: var(--line-height-normal);
}

.green-txt {
  color: var(--flexoki-cyan);
  text-decoration: none;
}

/*=== bolded-txt ===*/
.bolded-txt p {
  font-weight: var(--font-weight-medium);
  font-size: var(--fluid-md);
}

/* === navbar ===*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-5) 0px;
}

.nav-right {
  display: flex;
  gap: var(--space-5);
  align-items: center;
}

.inner-nav-group{
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.nav-link-li {
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-link-li:nth-child(1){
  border: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  list-style: none;
  color: var(--flexoki-black);
  font-size: var(--fluid-sm);
  font-weight: var(--font-weight-light);
}

/*=== toggle ===*/
.toggle {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

/*============== menu btn ===========*/

.icon-menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  min-width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
  display: none;
}

.bar {
  position: relative;
  height: var(--height-bar);
  min-width: 100%;
  border-radius: 0.5rem;
  background-color: var(--flexoki-black);
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

/* === intro-content === */

.intro-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

/* === book-card === */

.book-card {
  display: flex;
  align-items: flex-start;
  gap: var(--space-4);
}

.book-card-left {
  min-width: 160px;
  min-height: 100%;
  background-color: black;
}

.book-card-right {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding-bottom: var(--space-2);
}

.book-cover-pic {
  width: 160px;
  height: 100%;
}

/* note-list-sec */
.note-list-sec {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.note-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

li:nth-child(1) {
  border-top: 1px solid #ccc;
  padding-top: var(--space-1);
}

.note-title {
  font-size: var(--fluid-sm);
  font-weight: var(--font-weight-light);
  color: var(--flexoki-black);
  line-height: var(--line-height-normal);
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  display: flex;
  align-items: center;
}

.arrow-img {
  width: 24px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.note-list li:hover .note-title {
  color: var(--flexoki-cyan);
  transition: all 0.3s ease-in-out;
}

.note-list li:hover .arrow-img {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

/*=== code ===*/
.code-container {
  width: 100%;
}

code {
  padding: var(--space-3);
  font-family: var(--overpass-mono);
  font-size: var(--font-size-sm);
  color: var(--flexoki-light-600);
  background-color: var(--flexoki-light-50);
}

/*=== quote ===*/
.quote-container {
  width: 100%;
}

blockquote {
  padding: var(--space-3);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-light);
  color: var(--flexoki-light-600);
  background-color: var(--flexoki-light-50);
  border-left: 2px solid var(--flexoki-cyan);
}

/*=== image frame ===*/
.image-frame {
  width: 100%;
}

img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

/*=== subscribe-bar ===*/
.subscribe-bar-container {
  width: 100%;
}

.subscribe-bar {
  padding: var(--space-1) var(--space-2);
  background-color: var(--flexoki-light-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-bar-txt p {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-extra-light);
  color: var(--flexoki-light-600);
}

.subscribe-span {
  color: #575653;
  text-decoration: underline;
}

.subscribe-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #575653;
  text-decoration: underline;
  font-size: var(--fluid-sm);
  cursor: pointer;
}

/*=== product cards ===*/
.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  padding: var(--space-2);
  border: 1px solid var(--flexoki-light-100);
  border-radius: var(--space-1);
}

.card-title-sec {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.card-title {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-medium);
}

.card-sub-title {
  font-size: var(--fluid-xs);
  color: var(--flexoki-light-850);
}

.card-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-sub-txt p {
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-extra-light);
  color: var(--flexoki-light-850);
}

/*=== content ===*/
.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

/*=== note-links-container ===*/

.note-links-container > p {
  color: var(--flexoki-light-700);
}

.note-links-container > p > a {
  text-decoration: underline;
  color: var(--sub-txt);
  margin-left: 4px;
  font-weight: var(--font-weight-regular);
}

.note-links-container > p > a > sup {
  font-size: var(--sup-txt);
}

/*=== two-column-grid-layout ===*/
.two-column-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2);
}

/*=== credit-txt ===*/
.credit-txt p{
    text-align: center;
    color: var(--flexoki-light-850);
    font-size: var(--fluid-xs);
}

/*=== navigation-component ===*/
.navigation-component{
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.navigation-switch {
    font-weight: var(--font-weight-medium);
}

/*=== link-note-container ===*/
.link-note-container{
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  transition: all .3s ease-in-out;
}

.link-note-container h6{
  text-align: center;
}

.link-note-container li:nth-child(1){
  border-top: none;
}

.link-note-container li:hover p{
  color: var(--flexoki-cyan);
  transition: all .3s ease-in-out;
}

/*=== detailed-list-container ===*/

.detailed-list-container{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.detailed-note-list{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.detailed-note-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-5);
}

.list-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2);
}

.list-content p{
  font-size: var(--fluid-xs);
}

.visit-btn{
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: var(--fluid-xs);
  font-weight: var(--font-weight-medium);
  color: var(--flexoki-black);
  padding-right: var(--space-1);
}

/*=== contributor component ===*/
.contributor-component{
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.contributor-bottom-sec{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-1);
}

.contributer-bar-left p{
  font-weight: var(--font-weight-medium);
}

.contributer-list{
  display: flex;
  gap: var(--space-1);
  align-items: center;
}

.contribution-year{
  font-weight: var(--font-weight-light);
  color: var(--flexoki-light-850);
  font-size: var(--fluid-sm);
}

.contributor{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.contributor-bar-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-1);
}

/*=== review-component ===*/
.review-component{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding-left: var(--space-3);
}
.profile-container{
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.profile-pic{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-sub-txt{
  font-size: var(--fluid-xs);
  color: var(--flexoki-light-850);
}

.profile-name{
  color: var(--flexoki-cyan);
}
/*====== responsive =======*/

/*--- for tablet ---*/
@media (max-width: 768px) {
    .icon-menu{
        display: flex;
    }
    .inner-nav-group{
        display: none;
    }
    .centered-container{
        padding: 0px var(--space-2);
    }
}

/*=== testimonials-component ===*/
.testimonials-component{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.testimonials-top-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-switcher{
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

.author-details{
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.author-name{
  color: var(--flexoki-cyan);
}

.date{
  font-size: var(--fluid-xs);
  color: var(--flexoki-light-700);
}

.company-name{
  font-weight: var(--font-weight-extra-light);
  font-size: var(--fluid-xs);
}
/*--- for mobile ---*/
@media (max-width: 520px) {
  .two-column-grid-layout{
    grid-template-columns: 1fr;
  }
  .subscribe-bar{
    flex-wrap: wrap;
  }
  .book-card{
    flex-wrap: wrap;
  }
}

/*--- for mobile ---*/
@media (max-width: 360px) {
  .contributor-bottom-sec{
    flex-wrap: wrap;
  }
  .contributor-bar-right{
    align-items: flex-start;
  }
}