/* main container style */

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--flexoki-paper);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* centered container style */

.centered-container{
    width: 100%;
    max-width: 720px;
    height: 100%;
    background-color: transparent;
}